.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 650px;
  border-radius: 8px;
  margin: 20px 0px;
  background-color: #eef0e6;
}

.login-head {
  text-align: center;
  margin: 30px 60px;
  font-size: 35px;
}

.login-text {
  font-size: 16px;
}

.input {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 10px;
}

.login-button {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  border-color: #b48d66;
  margin-bottom: 100px;
}

.login-button:hover {
  background-color: #b48d66;
}

.login-button:active {
  border-color: #b48d66;
}
