body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9c815d;
}

.title {
  text-align: center;
  color: #b88b59;
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}

.card {
  background-color: #f5f5dc;
  width: 100%;
  max-width: 650px;
  font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
  border-radius: 8px;
  padding: 27px 25px 18px;
}

.card-head {
  font-size: 35px;
  text-align: center;
  margin-top: 0px;
}

.card-text {
  font-size: 20px;
}

.card-button {
  width: 100%;
  height: 42px;
  padding: 6px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 0px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  color: white;
  transition: background-color 0.15s ease-out;
  background-color: #b88b59;
}

.card-button:hover {
  background-color: #b37d56;
}

.card-button:active {
  background: #d2b48c;
  border-color: #deb887;
}

.card-author {
  text-align: center;
  font-size: 15px;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #f5f5dc; */
  overflow: hidden;
  width: 100%;
  max-width: 650px;
  margin: 0px 0px 10px 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f5f5dc;
  text-align: center;
  text-decoration: none;
  padding: 14px 46px;
  font-size: 17px;
  font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b88b59;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #b88b59;
  color: white;
}

.page {
  background-color: #f5f5dc;
  width: 100%;
  max-width: 1200px;
  font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
  border-radius: 8px;
  padding: 27px 25px 18px;
}

.page-head {
  font-size: 35px;
  margin-top: 0px;
}

.page-text {
  font-size: 20px;
}

.page-title {
  font-size: 30px;
}

.sub-page {
  text-align: center;
  color: #b88b59;
  font-size: 20px;
  margin: 10px 200px 10px 200px;
}

.card-login {
  text-align: center;
  background-color: #f5f5dc;
  width: 100%;
  max-width: 650px;
  font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
  border-radius: 8px;
  padding: 27px 25px 18px;
}

.login-text {
  font-size: 16px;
}
