body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Proxima Nova, Arial, Helvetica Neue, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: -10px 0px 20px 0px;
  width: 100%;
  padding: 20px;
  background-color: rgb(246, 232, 223, 1);
}

/* Style the links inside the navigation bar */
.topnav a {
  text-decoration: none;
  font-size: 18px;
  color: #996633;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #996633;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #1f2635;
}

.title {
  text-align: center;
  color: #996633;
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}

.card {
  width: 100%;
  max-width: 650px;
  border-radius: 8px;
  padding: 27px 25px 18px;
  background-color: #eef0e6;
}

.card-head {
  font-size: 35px;
  text-align: center;
  margin-top: 0px;
}

.card-text {
  font-size: 20px;
}

.card-button {
  width: 100%;
  height: 42px;
  padding: 6px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 10%;
  border-color: #b48d66;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  color: black;
  transition: background-color 0.15s ease-out;
  background-color: #eef0e6;
}

.card-button:hover {
  background-color: #b48d66;
}

.card-button:active {
  border-color: #b48d66;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b48d66;
  color: #eef0e6;
  font-size: 15px;
  text-align: center;
}

.footer a {
  color: #eef0e6;
  text-decoration: none;
}
